@use "variables" as *;
@use "media-queries" as *;

.btn-submit {
    width: 100%;
    font-size: 15.5px;
    text-transform: uppercase;
    font-weight: $medium;
    letter-spacing: 0.8px;
    color: #fff;
    background-color: $green;
    border: none;
    border-bottom: 4px solid darken($green, 5%);
    border-radius: 5px;
    padding: 18px 15px 11px 15px;
    margin-top: 16px;
    cursor: pointer;
    transition: transform 0.2s ease-in;

    &:hover {
        transform: scale(1.05);
        background-color: lighten($green, 15%);
        border-bottom-color: lighten($green, 5%);
    }

    &:active,
    &:focus {
        transform: scale(1);
    }

    @include tablet {
        margin-top: 4.3%;
    }
}
