@use "variables" as *;
@use "media-queries" as *;

.intro {
    padding: 24.2% 0 18.1% 0;
    max-width: 540px;
    margin: 0 auto;

    @include tablet {
        padding: 8.5% 0;
        max-width: 100%;
        width: 100%;
        margin: 0;
    }

    &__text {
        text-align: center;
        margin-bottom: 62px;

        @include tablet {
            text-align: start;
            margin: 0;
            flex-basis: 45%;
            align-self: center;
            transform: translateY(4px);
        }
    }

    &__signup {
        @include tablet {
            flex-basis: 48.65%;
        }
    }

    &__offer {
        font-size: 15.4px;
        text-align: center;
        font-weight: $regular;
        line-height: 1.7;
        color: #fff;
        background-color: $blue;
        padding: 20px 50px 16px 50px;
        border-radius: 10px;
        margin-bottom: 24px;
        box-shadow: $box-shadow-dark;

        &--highlight {
            font-weight: $bold;
        }

        @include tablet {
            padding: 17px 50px 16px 50px;
        }
    }
}
